//@import "~bootstrap-honoka";

main {
    min-height: 100vh;
}

#container-canvas {
    position: fixed;
    right: 0;
    bottom: 0;
    mix-blend-mode: overlay;
}

canvas {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    width: 100vh;
    height: 10%;
}

.hero-header {
    position: relative;
    height: 100vh;
    background-image: url(bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
}

@mixin content {
    text-align: center;
}

.primary-text {
    display: block;
    color: rgba(255, 255, 255, 255);
    mix-blend-mode: screen;
    font-size: 8vw;
    font-weight: normal;
    @include content
}

.twitter-button {
    padding-top: 8px;
    @include content
}

img.twitter-icon {
    content: "";
    width: 21px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-position : center center;
    background-repeat: no-repeat;
}