@import "~bootstrap-honoka";

$primaty-font-size: 3rem;
$primaty-font-weight: normal;

#container-canvas {
    position: fixed;
    right: 0;
    bottom: 0;
}

canvas {
    position: fixed;
    right: 0;
    bottom: 0;
    width: max-content;
    height: 10%;
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
}

.background {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
}

.contents-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 255);
    font-size: $primaty-font-size;
    font-weight: $primaty-font-weight;
    text-align: center;
}

img.twitter-icon {
    content: "";
    width: 21px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-position : center center;
    background-repeat: no-repeat;
}