<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.title}}</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>
<body class="no-thank-yu">
<section class="section section-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto title">
                <h1>{{.text}}</h1>
            </div>
        </div>
    </div>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>